.innerMenuHeading {
  font-weight: bold;
  font-size: 1.4rem;
  position: relative;
  width: fit-content;
  margin: auto;
  margin-top: 10px;
  margin-bottom: -20px;
}

ul {
  margin-top: 25px;
  margin-left: -40px;
}
li {
  padding-left: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: bold;
}

.NoData {
  font-size: 1.2rem;
  margin: auto;
  margin-top: 70px;
  width: fit-content;
  color: red;
}
.case {
  height: 520px;
  width: 300px;
  margin: auto;
  position: relative;
  top: 60;
  border: 5px solid black;
  border-radius: 25px;
}
